#header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0px 0px 6px 3px #000000;
    text-align: center;
}

#videocover {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	background-image:url(images/paused.png);
	background-size:cover;
	opacity:1;
}

#player {
	width:100%;
	height:100%;
}
	
#logo {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#navigation {
    position: relative;
    width: 100%;
    z-index: 2;
    margin-top: -40px;
}

#navigation ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#navigation ul li {
    list-style:none;
    float: left;
    text-align: center;
    width: 25%;
    width: calc(100% / 4);
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size: 130%;
}

#navigation ul li:first-child {
    border-left: none;
}

#navigation ul li a {
   padding:10px 0;
   color:#E8E8E8;
   text-decoration:none;
}

#navigation ul li a:hover {
   color:#05A1FF;
}



#header_wrapper {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}
